spring:
  application:
    name: LeaveEase API
  profiles:
    active: dev
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        '[format_sql]': true

server:
  port: 8080

app:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration-ms: 86400000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /v3/api-docs
    enabled: true

---
# ===================== DEV profile =====================
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:leaveease;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop

---
# ===================== PROD profile =====================
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/leaveease}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:secret}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: false

logging:
  level:
    '[org.springframework.security]': ${SECURITY_LOG_LEVEL:DEBUG}
    '[org.springframework.web]': ${WEB_LOG_LEVEL:DEBUG}
